In [1]:
import pandas as pd

In [9]:
url = "https://stooq.pl/q/d/l/?s=cdr&d1=20200101&d2=20220401&i=d"
df = pd.read_csv(url)
df

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie  Wolumen
0    2020-01-02    274.10     278.77     273.13      278.77   172311
1    2020-01-03    278.96     281.69     273.23      277.99   251004
2    2020-01-07    279.06     280.33     274.98      275.85   218998
3    2020-01-08    275.56     275.85     269.54      273.23   230932
4    2020-01-09    276.05     280.52     275.08      280.52   200512
..          ...       ...        ...        ...         ...      ...
562  2022-03-28    175.12     178.86     173.78      176.40   207048
563  2022-03-29    177.24     179.62     174.50      178.30   274921
564  2022-03-30    178.30     182.80     177.80      181.62   284349
565  2022-03-31    180.50     182.02     173.74      173.74   448331
566  2022-04-01    174.00     176.70     173.10      175.76   227596

[567 rows x 6 columns]

In [10]:
df["Zmiana_1D"] = pd.np.NaN

C:\Users\kurs\AppData\Local\Temp/ipykernel_3340/1002720339.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df["Zmiana_1D"] = pd.np.NaN

In [11]:
%%timeit -r 10 -n 10
for i in range(1, len(df)):
    df.iloc[i, 6] = df.iloc[i,4] - df.iloc[i-1,4]

334 ms ± 39.2 ms per loop (mean ± std. dev. of 10 runs, 10 loops each)

In [17]:
%%timeit -r 10 -n 10
df["Shift_1D"] = df.Zamkniecie - df.Zamkniecie.shift(1)

The slowest run took 6.35 times longer than the fastest. This could mean that an intermediate result is being cached.
1.65 ms ± 962 µs per loop (mean ± std. dev. of 10 runs, 10 loops each)

In [18]:
df

,Data,Otwarcie,Najwyzszy,Najnizszy,Zamkniecie,Wolumen,Zmiana_1D,Shift_1D
0,2020-01-02,274.10,278.77,273.13,278.77,172311,NaN,NaN
1,2020-01-03,278.96,281.69,273.23,277.99,251004,-0.78,-0.78
2,2020-01-07,279.06,280.33,274.98,275.85,218998,-2.14,-2.14
3,2020-01-08,275.56,275.85,269.54,273.23,230932,-2.62,-2.62
4,2020-01-09,276.05,280.52,275.08,280.52,200512,7.29,7.29
...,...,...,...,...,...,...,...,...
562,2022-03-28,175.12,178.86,173.78,176.40,207048,0.96,0.96
563,2022-03-29,177.24,179.62,174.50,178.30,274921,1.90,1.90
564,2022-03-30,178.30,182.80,177.80,181.62,284349,3.32,3.32
565,2022-03-31,180.50,182.02,173.74,173.74,448331,-7.88,-7.88
566,2022-04-01,174.00,176.70,173.10,175.76,227596,2.02,2.02