In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("http://51.91.120.89/extras/world.csv")
df.drop(columns="Unnamed: 0", inplace=True)
df

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Afghanistan,Southern Asia,153.0,3.575,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,1.952100,2015
1,Albania,Central and Eastern Europe,95.0,4.959,0.878670,0.804340,0.813250,0.357330,0.064130,0.142720,1.898940,2015
2,Algeria,Middle East and Northern Africa,68.0,5.605,0.939290,1.077720,0.617660,0.285790,0.173830,0.078220,2.432090,2015
3,Angola,Sub-Saharan Africa,137.0,4.033,0.757780,0.860400,0.166830,0.103840,0.071220,0.123440,1.949390,2015
4,Argentina,Latin America and Caribbean,30.0,6.574,1.053510,1.248230,0.787230,0.449740,0.084840,0.114510,2.836000,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
490,Venezuela,Latin America and Caribbean,82.0,5.250,1.128431,1.431338,0.617144,0.153997,0.064491,0.065020,1.789464,2017
491,Vietnam,Southeastern Asia,94.0,5.074,0.788548,1.277491,0.652169,0.571056,0.087633,0.234968,1.462319,2017
492,Yemen,Middle East and Northern Africa,146.0,3.593,0.591683,0.935382,0.310081,0.249464,0.056767,0.104125,1.345601,2017
493,Zambia,Sub-Saharan Africa,116.0,4.514,0.636407,1.003187,0.257836,0.461603,0.078214,0.249580,1.826705,2017
494,Zimbabwe,Sub-Saharan Africa,138.0,3.875,0.375847,1.083096,0.196764,0.336384,0.095375,0.189143,1.597970,2017

In [4]:
pd.pivot_table(df, index="Year", values="Happiness Score")

      Happiness Score
Year
2015         5.375734
2016         5.382185
2017         5.354019

In [5]:
df.query(" Year==2015 ")["Happiness Score"].mean()

5.37573417721519

In [6]:
pd.pivot_table(df, index=["Region","Year"], values="Happiness Score")

                                      Happiness Score
Region                          Year
Australia and New Zealand       2015         7.285000
                                2016         7.323500
                                2017         7.299000
Central and Eastern Europe      2015         5.332931
                                2016         5.370690
                                2017         5.409931
Eastern Asia                    2015         5.626167
                                2016         5.624167
                                2017         5.646667
Latin America and Caribbean     2015         6.144682
                                2016         6.101750
                                2017         5.957818
Middle East and Northern Africa 2015         5.406900
                                2016         5.386053
                                2017         5.369684
North America                   2015         7.273000
                                2016         7.254000
                                2017         7.154500
Southeastern Asia               2015         5.317444
                                2016         5.338889
                                2017         5.444875
Southern Asia                   2015         4.580857
                                2016         4.563286
                                2017         4.628429
Sub-Saharan Africa              2015         4.202800
                                2016         4.136421
                                2017         4.111949
Western Europe                  2015         6.689619
                                2016         6.685667
                                2017         6.703714

In [13]:
pd.pivot_table(df, index="Region", values=["Happiness Score","Family"], columns="Year")

                                   Family                     Happiness Score  \
Year                                 2015      2016      2017            2015
Region
Australia and New Zealand        1.314450  1.138770  1.529119        7.285000
Central and Eastern Europe       1.053042  0.861855  1.282285        5.332931
Eastern Asia                     1.099427  0.910428  1.310970        5.626167
Latin America and Caribbean      1.104720  0.898432  1.290156        6.144682
Middle East and Northern Africa  0.920490  0.695644  1.095511        5.406900
North America                    1.284860  1.071960  1.450635        7.273000
Southeastern Asia                0.940468  0.791756  1.249948        5.317444
Southern Asia                    0.645321  0.480694  0.931875        4.580857
Sub-Saharan Africa               0.809085  0.593656  0.953919        4.202800
Western Europe                   1.247302  1.042452  1.444946        6.689619


Year                                 2016      2017
Region
Australia and New Zealand        7.323500  7.299000
Central and Eastern Europe       5.370690  5.409931
Eastern Asia                     5.624167  5.646667
Latin America and Caribbean      6.101750  5.957818
Middle East and Northern Africa  5.386053  5.369684
North America                    7.254000  7.154500
Southeastern Asia                5.338889  5.444875
Southern Asia                    4.563286  4.628429
Sub-Saharan Africa               4.136421  4.111949
Western Europe                   6.685667  6.703714

In [15]:
df2 = pd.pivot_table(df, index="Region", values=["Happiness Score","Family"], 
               columns="Year", aggfunc=[min, max])
df2

                                     min                                     \
                                  Family                    Happiness Score
Year                                2015     2016      2017            2015
Region
Australia and New Zealand        1.30923  1.10476  1.510042           7.284
Central and Eastern Europe       0.38562  0.19249  0.570615           4.218
Eastern Asia                     0.94675  0.72194  1.128274           4.874
Latin America and Caribbean      0.74302  0.29561  0.640450           4.518
Middle East and Northern Africa  0.47489  0.14866  0.396103           3.006
North America                    1.24711  1.04782  1.419921           7.119
Southeastern Asia                0.62736  0.53750  1.006238           3.819
Southern Asia                    0.30285  0.11037  0.581543           3.575
Sub-Saharan Africa               0.00000  0.00000  0.000000           2.839
Western Europe                   0.89318  0.70697  1.131363           4.857

                                                   max                     \
                                                Family
Year                              2016   2017     2015     2016      2017
Region
Australia and New Zealand        7.313  7.284  1.31967  1.17278  1.548195
Central and Eastern Europe       4.217  4.096  1.34043  1.16810  1.548969
Eastern Asia                     4.907  4.955  1.30060  1.08983  1.493011
Latin America and Caribbean      4.028  3.603  1.30477  1.11111  1.507285
Middle East and Northern Africa  3.069  3.462  1.22393  0.99537  1.376290
North America                    7.104  6.993  1.32261  1.09610  1.481349
Southeastern Asia                3.907  4.168  1.26504  1.04477  1.425792
Southern Asia                    3.360  3.794  1.10395  0.90836  1.340127
Sub-Saharan Africa               2.905  2.693  1.18468  0.96053  1.384789
Western Europe                   5.033  5.195  1.40223  1.18326  1.610574


                                Happiness Score
Year                                       2015   2016   2017
Region
Australia and New Zealand                 7.286  7.334  7.314
Central and Eastern Europe                6.505  6.596  6.609
Eastern Asia                              6.298  6.379  6.422
Latin America and Caribbean               7.226  7.087  7.079
Middle East and Northern Africa           7.278  7.267  7.213
North America                             7.427  7.404  7.316
Southeastern Asia                         6.798  6.739  6.572
Southern Asia                             5.253  5.196  5.269
Sub-Saharan Africa                        5.477  5.648  5.629
Western Europe                            7.587  7.526  7.537

In [16]:
df2.columns

MultiIndex([('min',          'Family', 2015),
            ('min',          'Family', 2016),
            ('min',          'Family', 2017),
            ('min', 'Happiness Score', 2015),
            ('min', 'Happiness Score', 2016),
            ('min', 'Happiness Score', 2017),
            ('max',          'Family', 2015),
            ('max',          'Family', 2016),
            ('max',          'Family', 2017),
            ('max', 'Happiness Score', 2015),
            ('max', 'Happiness Score', 2016),
            ('max', 'Happiness Score', 2017)],
           names=[None, None, 'Year'])

In [22]:
df2[  sorted( df2.columns , key=lambda x:(x[1], x[2]) ) ]

,min,max,min,max,min,max,min,max,min,max,min,max
,Family,Family,Family,Family,Family,Family,Happiness Score,Happiness Score,Happiness Score,Happiness Score,Happiness Score,Happiness Score
Year,2015,2015,2016,2016,2017,2017,2015,2015,2016,2016,2017,2017
Region,,,,,,,,,,,,
Australia and New Zealand,1.30923,1.31967,1.10476,1.17278,1.510042,1.548195,7.284,7.286,7.313,7.334,7.284,7.314
Central and Eastern Europe,0.38562,1.34043,0.19249,1.16810,0.570615,1.548969,4.218,6.505,4.217,6.596,4.096,6.609
Eastern Asia,0.94675,1.30060,0.72194,1.08983,1.128274,1.493011,4.874,6.298,4.907,6.379,4.955,6.422
Latin America and Caribbean,0.74302,1.30477,0.29561,1.11111,0.640450,1.507285,4.518,7.226,4.028,7.087,3.603,7.079
Middle East and Northern Africa,0.47489,1.22393,0.14866,0.99537,0.396103,1.376290,3.006,7.278,3.069,7.267,3.462,7.213
North America,1.24711,1.32261,1.04782,1.09610,1.419921,1.481349,7.119,7.427,7.104,7.404,6.993,7.316
Southeastern Asia,0.62736,1.26504,0.53750,1.04477,1.006238,1.425792,3.819,6.798,3.907,6.739,4.168,6.572
Southern Asia,0.30285,1.10395,0.11037,0.90836,0.581543,1.340127,3.575,5.253,3.360,5.196,3.794,5.269
Sub-Saharan Africa,0.00000,1.18468,0.00000,0.96053,0.000000,1.384789,2.839,5.477,2.905,5.648,2.693,5.629
Western Europe,0.89318,1.40223,0.70697,1.18326,1.131363,1.610574,4.857,7.587,5.033,7.526,5.195,7.537