In [1]:
import pandas as pd

In [10]:
#df = pd.read_csv("http://51.91.120.89/extras/f500.csv")
df = pd.read_csv(r"C:\Users\kurs\Downloads\f500.csv", comment="#", 
                 usecols=[0,1,4]) #["profits","company","rank"]
# \t \n \r \f
df

                            company  rank  profits
0                           Walmart     1  13643.0
1                        State Grid     2   9571.3
2                     Sinopec Group     3   1257.9
3          China National Petroleum     4   1867.5
4                      Toyota Motor     5  16899.3
..                              ...   ...      ...
495  Teva Pharmaceutical Industries   496    329.0
496        New China Life Insurance   497    743.9
497       Wm. Morrison Supermarkets   498    406.4
498                             TUI   499   1151.7
499                      AutoNation   500    430.5

[500 rows x 3 columns]

In [3]:
df.columns

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [12]:
df = pd.read_csv(r"C:\Users\kurs\Downloads\f500.csv", comment="#", 
                 usecols=lambda c: c.startswith( ("c","p") ) ) 
df

,company,profits,profit_change,ceo,previous_rank,country
0,Walmart,13643.0,-7.2,C. Douglas McMillon,1,USA
1,State Grid,9571.3,-6.2,Kou Wei,2,China
2,Sinopec Group,1257.9,-65.0,Wang Yupu,4,China
3,China National Petroleum,1867.5,-73.7,Zhang Jianhua,3,China
4,Toyota Motor,16899.3,-12.3,Akio Toyoda,8,Japan
...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,329.0,-79.3,Yitzhak Peterburg,0,Israel
496,New China Life Insurance,743.9,-45.6,Wan Feng,427,China
497,Wm. Morrison Supermarkets,406.4,20.4,David T. Potts,437,Britain
498,TUI,1151.7,195.5,Friedrich Joussen,467,Germany
499,AutoNation,430.5,-2.7,Michael J. Jackson,0,USA

In [29]:
columns = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv(r"C:\Users\kurs\Downloads\f500nh.csv", skipinitialspace=True,
                 header=None, names=columns, skiprows=10, nrows=350, 
                 dtype={
                     "rank" : pd.np.int8
                 } )  # prefix="col_", skipfooter=10,
df

C:\Users\kurs\AppData\Local\Temp/ipykernel_1620/2827215317.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  "rank" : pd.np.int8

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
1,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
2,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
3,CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
4,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,JFE Holdings,100,30539,6.8,627.0,38920,123.6,Eiji Hayashida,Metals,Materials,371,Japan,"Tokyo, Japan",http://www.jfe-holdings.co.jp,15,60439,15632
346,Mizuho Financial Group,101,30390,13.5,5570.1,1799736,-0.3,Yasuhiro Sato,Banks: Commercial and Savings,Financials,399,Japan,"Tokyo, Japan",http://www.mizuho-fg.co.jp,17,59179,62843
347,Gilead Sciences,102,30390,-6.9,13501.0,56977,-25.4,John F. Milligan,Pharmaceuticals,Health Care,316,USA,"Foster City, CA",http://www.gilead.com,3,9000,18887
348,CHS,103,30347,-12.2,424.2,17318,-45.7,Jay D. Debertin,Food Production,"Food, Beverages & Tobacco",299,USA,"Inver Grove Heights, MN",http://www.chsinc.com,10,12157,7852
349,Bharat Petroleum,104,30316,4.2,1300.5,16801,6.7,D. Rajkumar,Petroleum Refining,Energy,358,India,"Mumbai, India",http://www.bharatpetroleum.in,14,13395,4747

In [30]:
df.dtypes

company                      object
rank                           int8
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [31]:
df.describe()

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,350.000000,350.000000,348.000000,350.000000,3.500000e+02,304.000000,350.000000,350.000000,350.000000,350.000000
mean,15.077143,61243.831429,4.248563,3310.557714,3.028913e+05,1.610526,181.557143,16.385714,141221.362857,33098.694286
std,69.763763,32991.977033,30.163052,5275.004729,5.610357e+05,94.221141,109.879751,7.436634,122311.486561,42627.174933
min,-128.000000,30316.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,328.000000,-59909.000000
25%,-40.750000,37650.000000,-5.500000,744.325000,4.409175e+04,-22.600000,89.250000,9.000000,52118.250000,9568.750000
50%,28.500000,49441.000000,0.400000,2005.000000,8.794800e+04,0.500000,177.500000,20.000000,107024.000000,19327.000000
75%,72.000000,71669.000000,6.800000,4446.700000,2.215458e+05,16.900000,266.750000,23.000000,196467.750000,43227.250000
max,127.000000,198533.000000,442.300000,41883.900000,3.473238e+06,669.800000,496.000000,23.000000,941211.000000,283438.000000

In [33]:
df.isna().sum()

company                      0
rank                         0
revenues                     0
revenue_change               2
profits                      0
assets                       0
profit_change               46
ceo                          0
industry                     0
sector                       0
previous_rank                0
country                      0
hq_location                  0
website                      0
years_on_global_500_list     0
employees                    0
total_stockholder_equity     0
dtype: int64

In [36]:
columns = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv(r"C:\Users\kurs\Downloads\f500nh.csv", skipinitialspace=True,
                 header=None, names=columns, converters={
                     "company" : lambda s:s.upper(),
                     "rank" : lambda x: int(x)<=10
                 }
                 ) 
df.head(20)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,WALMART,True,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,STATE GRID,True,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,SINOPEC GROUP,True,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,CHINA NATIONAL PETROLEUM,True,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,TOYOTA MOTOR,True,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,VOLKSWAGEN,True,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,ROYAL DUTCH SHELL,True,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,BERKSHIRE HATHAWAY,True,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,APPLE,True,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,EXXON MOBIL,True,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
10,MCKESSON,False,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
11,BP,False,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
12,UNITEDHEALTH GROUP,False,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
13,CVS HEALTH,False,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
14,SAMSUNG ELECTRONICS,False,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
15,GLENCORE,False,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243
16,DAIMLER,False,169483,2.2,9428.4,256262,0.9,Dieter Zetsche,Motor Vehicles and Parts,Motor Vehicles & Parts,16,Germany,"Stuttgart, Germany",http://www.daimler.com,23,282488,61116
17,GENERAL MOTORS,False,166380,9.2,9427.0,221690,-2.7,Mary T. Barra,Motor Vehicles and Parts,Motor Vehicles & Parts,20,USA,"Detroit, MI",http://www.gm.com,23,225000,43836
18,AT&T,False,163786,11.6,12976.0,403821,-2.8,Randall L. Stephenson,Telecommunications,Telecommunications,23,USA,"Dallas, TX",http://www.att.com,23,268540,123135
19,EXOR GROUP,False,154894,1.5,651.3,186172,-21.1,John Elkann,Diversified Financials,Financials,19,Netherlands,"Amsterdam, Netherlands",http://www.exor.com,7,302562,11582

In [38]:
df.set_index("company", inplace=True)
df

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
WALMART,True,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
STATE GRID,True,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
SINOPEC GROUP,True,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
CHINA NATIONAL PETROLEUM,True,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
TOYOTA MOTOR,True,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TEVA PHARMACEUTICAL INDUSTRIES,False,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
NEW CHINA LIFE INSURANCE,False,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
WM. MORRISON SUPERMARKETS,False,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,False,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AUTONATION,False,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [40]:
df.reset_index(inplace=True)

In [42]:
columns = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']

df = pd.read_csv(r"C:\Users\kurs\Downloads\f500nh.csv", 
                 header=None, names=columns, index_col="company"
                 ) 
df.head(20)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
Glencore,16,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243
Daimler,17,169483,2.2,9428.4,256262,0.9,Dieter Zetsche,Motor Vehicles and Parts,Motor Vehicles & Parts,16,Germany,"Stuttgart, Germany",http://www.daimler.com,23,282488,61116
General Motors,18,166380,9.2,9427.0,221690,-2.7,Mary T. Barra,Motor Vehicles and Parts,Motor Vehicles & Parts,20,USA,"Detroit, MI",http://www.gm.com,23,225000,43836
AT&T,19,163786,11.6,12976.0,403821,-2.8,Randall L. Stephenson,Telecommunications,Telecommunications,23,USA,"Dallas, TX",http://www.att.com,23,268540,123135
EXOR Group,20,154894,1.5,651.3,186172,-21.1,John Elkann,Diversified Financials,Financials,19,Netherlands,"Amsterdam, Netherlands",http://www.exor.com,7,302562,11582

In [48]:
df1 = df.sample(frac=.05, random_state=0)
df1.reset_index(inplace=True)
df1

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Uniper,91,74407,NaN,-3557.5,51541,NaN,Klaus Schafer,Energy,Energy,0,Germany,"Dusseldorf, Germany",http://www.uniper.energy,1,12890,12889
1,Merck,255,39807,0.8,3920.0,95377,-11.8,Kenneth C. Frazier,Pharmaceuticals,Health Care,246,USA,"Kenilworth, NJ",http://www.merck.com,23,68000,40088
2,Barclays,284,36789,-25.7,2807.4,1498612,NaN,James E. Staley,Banks: Commercial and Savings,Financials,181,Britain,"London, Britain",http://www.barclays.com,23,119300,80140
3,Danone,446,24267,-2.4,1902.1,46350,33.8,Emmanuel Faber,Food Consumer Products,"Food, Beverages & Tobacco",433,France,"Paris, France",http://www.danone.com,23,99187,13825
4,Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,0,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454
5,Glencore,16,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243
6,SNCF Mobilites,317,33747,3.8,565.1,39993,NaN,Guillaume Pepy,Railroads,Transportation,319,France,"St. Denis, France",http://www.sncf.com,23,193718,4696
7,China General Technology,490,22113,-20.1,413.6,20860,-20.8,Xu Xianping,"Engineering, Construction",Engineering & Construction,383,China,"Beijing, China",http://www.genertec.com.cn,4,38589,5114
8,Marathon Petroleum,160,55858,-13.5,1174.0,44413,-58.8,Gary R. Heminger,Petroleum Refining,Energy,120,USA,"Findlay, OH",http://www.marathonpetroleum.com,6,44460,13557
9,Banco Bradesco,154,57443,31.3,5127.9,366418,-5.7,Luiz Carlos Trabuco Cappi,Banks: Commercial and Savings,Financials,209,Brazil,"Osasco, Brazil",http://www.bradesco.com.br,21,94541,32369
10,Sumitomo Life Insurance,242,40921,31.6,517.5,308346,-6.1,Masahiro Hashimoto,"Insurance: Life, Health (Mutual)",Financials,335,Japan,"Osaka, Japan",http://www.sumitomolife.co.jp,23,42245,8491
11,China Minsheng Banking,251,40234,-5.2,7201.6,848389,-1.8,Zheng Wanchun,Banks: Commercial and Savings,Financials,221,China,"Beijing, China",http://www.cmbc.com.cn,5,58720,49297
12,Westpac Banking,391,27704,-10.8,5477.0,642083,-12.7,Brian C. Hartzer,Banks: Commercial and Savings,Financials,336,Australia,"Sydney, Australia",http://www.westpac.com.au,13,35280,44468
13,Magna International,290,36445,7.6,2031.0,22566,0.9,Donald J. Walker,Motor Vehicles and Parts,Motor Vehicles & Parts,306,Canada,"Aurora, Ontario, Canada",http://www.magna.com,17,155450,9768
14,CITIC Group,172,52852,-5.5,3236.3,938261,-14.0,Chang Zhenming,Diversified Financials,Financials,156,China,"Beijing, China",http://www.citicgroup.com.cn,9,201263,41784
15,Daiwa House Industry,330,32421,21.9,1861.5,31917,115.8,Takeo Higuchi,"Engineering, Construction",Engineering & Construction,402,Japan,"Osaka, Japan",http://www.daiwahouse.co.jp,13,60539,10761
16,Enterprise Products Partners,469,23022,-14.8,2513.1,52194,-0.3,A. James Teague,Pipelines,Energy,392,USA,"Houston, TX",http://www.enterpriseproducts.com,7,6800,22047
17,JFE Holdings,356,30539,6.8,627.0,38920,123.6,Eiji Hayashida,Metals,Materials,371,Japan,"Tokyo, Japan",http://www.jfe-holdings.co.jp,15,60439,15632
18,United Technologies,155,57244,-6.2,5055.0,89706,-33.6,Gregory J. Hayes,Aerospace and Defense,Aerospace & Defense,136,USA,"Farmington, CT",http://www.utc.com,23,201600,27579
19,Agricultural Bank of China,38,117275,-12.1,27687.8,2816039,-3.6,Zhao Huan,Banks: Commercial and Savings,Financials,29,China,"Beijing, China",http://www.abchina.com,18,501368,189682
20,Anheuser-Busch InBev,206,45905,5.3,1241.0,258381,-85.0,Carlos Brito,Beverages,"Food, Beverages & Tobacco",211,Belgium,"Leuven, Belgium",http://www.ab-inbev.com,12,206633,71339
21,Mazda Motor,367,29665,4.5,865.5,22660,-22.7,Masamichi Kogai,Motor Vehicles and Parts,Motor Vehicles & Parts,373,Japan,"Hiroshima, Japan",http://www.mazda.com,23,48849,8455
22,China United Network Communications,241,41274,-6.4,23.2,88626,-95.8,Wang Xiaochu,Telecommunications,Telecommunications,207,China,"Beijing, China",http://www.chinaunicom-a.com,9,253724,11152
23,Munich Re Group,109,68700,-1.1,2853.1,282435,-17.2,Joachim Wenning,Insurance: Property and Casualty (Stock),Financials,106,Germany,"Munich, Germany",http://www.munichre.com,23,43428,33238
24,Fannie Mae,46,107162,-2.9,12313.0,3287968,12.4,Timothy J. Mayopoulos,Diversified Financials,Financials,40,USA,"Washington, DC",http://www.fanniemae.com,20,7000,6071

In [50]:
df.to_csv("top500.csv", sep="\t", index=False)

#### Ładowanie danych z XLS

In [53]:
df = pd.read_excel("http://51.91.120.89/extras/films.xlsx", sheet_name="COMEDY")
df

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
0,1,Annie Hall,Woody Allen,"Carol Kane, Diane Keaton, Paul Simon, Tony Rob...",1977,4.0,http://www.imdb.com/title/tt0075686/,http://www.guardian.co.uk/film/movie/36314/ann...,USA
1,2,Borat,Larry Charles,"Ken Davitian, Pamela Anderson , Sacha Baron Cohen",2006,NaN,http://www.imdb.com/title/tt0443453/,http://www.guardian.co.uk/film/movie/114557/borat,USA
2,3,Some Like it Hot,Billy Wilder,"George Raft, Jack Lemmon, Joe E Brown, Marilyn...",1959,1.0,http://www.imdb.com/title/tt0053291/,http://www.guardian.co.uk/film/movie/36223/som...,USA
3,4,Team America,Trey Parker,"Kristen Miller, Matt Stone, Trey Parker",2004,NaN,http://www.imdb.com/title/tt0372588/,http://www.guardian.co.uk/film/movie/103000/te...,USA
4,5,Dr Strangelove,Stanley Kubrick,"George C Scott, Peter Sellers, Sterling Hayden",1964,NaN,http://www.imdb.com/title/tt0057012/,http://www.guardian.co.uk/film/movie/76390/dr-...,UK
5,5,The Ladykillers,Alexander Mackendrick,"Alec Guinness, Cecil Parker, Herbert Lom, Pete...",1955,NaN,http://www.imdb.com/title/tt0048281/,http://www.guardian.co.uk/film/movie/36206/lad...,UK
6,7,Duck Soup,Leo McCarey,"Chico Marx, Groucho Marx, Harpo Marx, Margaret...",1933,NaN,http://www.imdb.com/title/tt0023969/,http://www.guardian.co.uk/film/movie/36133/duc...,USA
7,7,Rushmore,Wes Anderson,"Bill Murray, Brian Cox, Jason Schwartzman, Ol...",1998,NaN,http://www.imdb.com/title/tt0128445/,http://www.guardian.co.uk/film/movie/79577/rus...,USA
8,9,Kind Hearts & Coronets,Robert Hamer,"Alec Guinness, Dennis Price, Joan Greenwood",1949,NaN,http://www.imdb.com/title/tt0041546/,http://www.guardian.co.uk/film/movie/36180/kin...,UK
9,10,Monty Python’s Life of Brian,Terry Jones,"Eric Idle, Graham Chapman, John Cleese, Michae...",1979,NaN,http://www.imdb.com/title/tt0079470/,http://www.guardian.co.uk/film/movie/78168/mon...,UK
10,11,Airplane!,"Jim Abrahams, David Zucker and Jerry Zucker","Julie Hagerty, Leslie Nielsen, Robert Hays",1980,NaN,http://www.imdb.com/title/tt0080339/,http://www.guardian.co.uk/film/movie/83228,USA
11,12,Election,Alexander Payne,"Chris Klein, Matthew Broderick, Reese Witherspoon",1999,NaN,http://www.imdb.com/title/tt0126886/,http://www.guardian.co.uk/film/movie/79657/ele...,USA
12,12,His Girl Friday,Howard Hawkes,"Cary Grant, Gene Lockhart, Ralph Bellamy, Rosa...",1940,NaN,http://www.imdb.com/title/tt0032599/,http://www.guardian.co.uk/film/movie/76369/his...,USA
13,12,The Big Lebowski,Joel Coen,"Jeff Bridges, John Goodman, Julianne Moore, St...",1998,NaN,http://www.imdb.com/title/tt0118715/,http://www.guardian.co.uk/film/movie/77069/big...,USA
14,15,This Is Spinal Tap,Rob Reiner,"Christopher Guest, Harry Shearer, Michael McK...",1984,NaN,http://www.imdb.com/title/tt0088258/,http://www.guardian.co.uk/film/movie/81384/thi...,USA
15,16,Bringing Up Baby,Howard Hawkes,"Cary Grant, Katharine Hepburn, Katherine Hepburn",1938,NaN,http://www.imdb.com/title/tt0029947/,http://www.guardian.co.uk/film/movie/36143/bri...,USA
16,17,There’s Something About Mary,Peter & Bob Farrelly,"Ben Stiller, Cameron Diaz, Lee Evans, Matt Dillon",1998,NaN,http://www.imdb.com/title/tt0129387/,http://www.guardian.co.uk/film/movie/34359/the...,USA
17,18,Dazed and Confused,Richard Linklater,"Adam Goldberg, Jason London, Joey Lauren Adams...",1993,NaN,http://www.imdb.com/title/tt0106677/,http://www.guardian.co.uk/film/movie/49047/daz...,USA
18,18,MASH,Robert Altman,"Donald Sutherland, Elliott Gould, Sally Kellerman",1970,1.0,http://www.imdb.com/title/tt0066026/,http://www.guardian.co.uk/film/movie/84547,USA
19,20,Groundhog Day,Harold Ramis,"Andie MacDowell, Bill Murray, Chris Elliott, S...",1993,NaN,http://www.imdb.com/title/tt0107048/,http://www.guardian.co.uk/film/movie/79383/gro...,USA
20,21,Clueless,Amy Heckerling,"Alicia Silverstone, Dan Hedaya, Stacey Dash",1995,NaN,http://www.imdb.com/title/tt0112697/,http://www.guardian.co.uk/film/movie/59257/clu...,USA
21,22,The Great Dictator,Charlie Chaplin,"Charlie Chaplin, Jack Oakie, Paulette Goddard",1940,NaN,http://www.imdb.com/title/tt0032553/,http://www.guardian.co.uk/film/movie/96585/gre...,USA
22,23,Clerks,Kevin Smith,"Brian O'Halloran, Jeff Anderson, Marilyn Ghigl...",1994,NaN,http://www.imdb.com/title/tt0109445/,http://www.guardian.co.uk/film/movie/53831/clerks,USA
23,24,The Jerk,Carl Reiner,Steve Martin,1979,NaN,http://www.imdb.com/title/tt0079367/,http://www.guardian.co.uk/film/movie/88834/jerk,USA
24,25,Shaun of the Dead,Edgar Wright,"Dylan Moran, Kate Ashfield, Nick Frost, Simon ...",2004,NaN,http://www.imdb.com/title/tt0365748/,http://www.guardian.co.uk/film/movie/99960/sha...,UK

In [59]:
df_dict = pd.read_excel(r"C:\Users\kurs\Downloads\films.xlsx", sheet_name=None)

In [60]:
type(df_dict)

dict

In [61]:
df_dict.keys()

dict_keys(['ROMANCE', 'CRIME', 'COMEDY', 'ACTION', 'ARTHOUSE AND DRAMA', 'SCI-FI AND FANTASY', 'HORROR'])

In [63]:
df = df_dict.get("COMEDY")
df

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
0,1,Annie Hall,Woody Allen,"Carol Kane, Diane Keaton, Paul Simon, Tony Rob...",1977,4.0,http://www.imdb.com/title/tt0075686/,http://www.guardian.co.uk/film/movie/36314/ann...,USA
1,2,Borat,Larry Charles,"Ken Davitian, Pamela Anderson , Sacha Baron Cohen",2006,NaN,http://www.imdb.com/title/tt0443453/,http://www.guardian.co.uk/film/movie/114557/borat,USA
2,3,Some Like it Hot,Billy Wilder,"George Raft, Jack Lemmon, Joe E Brown, Marilyn...",1959,1.0,http://www.imdb.com/title/tt0053291/,http://www.guardian.co.uk/film/movie/36223/som...,USA
3,4,Team America,Trey Parker,"Kristen Miller, Matt Stone, Trey Parker",2004,NaN,http://www.imdb.com/title/tt0372588/,http://www.guardian.co.uk/film/movie/103000/te...,USA
4,5,Dr Strangelove,Stanley Kubrick,"George C Scott, Peter Sellers, Sterling Hayden",1964,NaN,http://www.imdb.com/title/tt0057012/,http://www.guardian.co.uk/film/movie/76390/dr-...,UK
5,5,The Ladykillers,Alexander Mackendrick,"Alec Guinness, Cecil Parker, Herbert Lom, Pete...",1955,NaN,http://www.imdb.com/title/tt0048281/,http://www.guardian.co.uk/film/movie/36206/lad...,UK
6,7,Duck Soup,Leo McCarey,"Chico Marx, Groucho Marx, Harpo Marx, Margaret...",1933,NaN,http://www.imdb.com/title/tt0023969/,http://www.guardian.co.uk/film/movie/36133/duc...,USA
7,7,Rushmore,Wes Anderson,"Bill Murray, Brian Cox, Jason Schwartzman, Ol...",1998,NaN,http://www.imdb.com/title/tt0128445/,http://www.guardian.co.uk/film/movie/79577/rus...,USA
8,9,Kind Hearts & Coronets,Robert Hamer,"Alec Guinness, Dennis Price, Joan Greenwood",1949,NaN,http://www.imdb.com/title/tt0041546/,http://www.guardian.co.uk/film/movie/36180/kin...,UK
9,10,Monty Python’s Life of Brian,Terry Jones,"Eric Idle, Graham Chapman, John Cleese, Michae...",1979,NaN,http://www.imdb.com/title/tt0079470/,http://www.guardian.co.uk/film/movie/78168/mon...,UK
10,11,Airplane!,"Jim Abrahams, David Zucker and Jerry Zucker","Julie Hagerty, Leslie Nielsen, Robert Hays",1980,NaN,http://www.imdb.com/title/tt0080339/,http://www.guardian.co.uk/film/movie/83228,USA
11,12,Election,Alexander Payne,"Chris Klein, Matthew Broderick, Reese Witherspoon",1999,NaN,http://www.imdb.com/title/tt0126886/,http://www.guardian.co.uk/film/movie/79657/ele...,USA
12,12,His Girl Friday,Howard Hawkes,"Cary Grant, Gene Lockhart, Ralph Bellamy, Rosa...",1940,NaN,http://www.imdb.com/title/tt0032599/,http://www.guardian.co.uk/film/movie/76369/his...,USA
13,12,The Big Lebowski,Joel Coen,"Jeff Bridges, John Goodman, Julianne Moore, St...",1998,NaN,http://www.imdb.com/title/tt0118715/,http://www.guardian.co.uk/film/movie/77069/big...,USA
14,15,This Is Spinal Tap,Rob Reiner,"Christopher Guest, Harry Shearer, Michael McK...",1984,NaN,http://www.imdb.com/title/tt0088258/,http://www.guardian.co.uk/film/movie/81384/thi...,USA
15,16,Bringing Up Baby,Howard Hawkes,"Cary Grant, Katharine Hepburn, Katherine Hepburn",1938,NaN,http://www.imdb.com/title/tt0029947/,http://www.guardian.co.uk/film/movie/36143/bri...,USA
16,17,There’s Something About Mary,Peter & Bob Farrelly,"Ben Stiller, Cameron Diaz, Lee Evans, Matt Dillon",1998,NaN,http://www.imdb.com/title/tt0129387/,http://www.guardian.co.uk/film/movie/34359/the...,USA
17,18,Dazed and Confused,Richard Linklater,"Adam Goldberg, Jason London, Joey Lauren Adams...",1993,NaN,http://www.imdb.com/title/tt0106677/,http://www.guardian.co.uk/film/movie/49047/daz...,USA
18,18,MASH,Robert Altman,"Donald Sutherland, Elliott Gould, Sally Kellerman",1970,1.0,http://www.imdb.com/title/tt0066026/,http://www.guardian.co.uk/film/movie/84547,USA
19,20,Groundhog Day,Harold Ramis,"Andie MacDowell, Bill Murray, Chris Elliott, S...",1993,NaN,http://www.imdb.com/title/tt0107048/,http://www.guardian.co.uk/film/movie/79383/gro...,USA
20,21,Clueless,Amy Heckerling,"Alicia Silverstone, Dan Hedaya, Stacey Dash",1995,NaN,http://www.imdb.com/title/tt0112697/,http://www.guardian.co.uk/film/movie/59257/clu...,USA
21,22,The Great Dictator,Charlie Chaplin,"Charlie Chaplin, Jack Oakie, Paulette Goddard",1940,NaN,http://www.imdb.com/title/tt0032553/,http://www.guardian.co.uk/film/movie/96585/gre...,USA
22,23,Clerks,Kevin Smith,"Brian O'Halloran, Jeff Anderson, Marilyn Ghigl...",1994,NaN,http://www.imdb.com/title/tt0109445/,http://www.guardian.co.uk/film/movie/53831/clerks,USA
23,24,The Jerk,Carl Reiner,Steve Martin,1979,NaN,http://www.imdb.com/title/tt0079367/,http://www.guardian.co.uk/film/movie/88834/jerk,USA
24,25,Shaun of the Dead,Edgar Wright,"Dylan Moran, Kate Ashfield, Nick Frost, Simon ...",2004,NaN,http://www.imdb.com/title/tt0365748/,http://www.guardian.co.uk/film/movie/99960/sha...,UK

In [65]:
df.to_excel("comedy.xlsx", sheet_name="Komedie", index=False)